{% load static %}

<ul class="navbar-nav ml-auto">

    <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:index' %}">Home
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item {% if request.resolver_match.url_name == 'products' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:category' 0 %}">Our Products</a>
    </li>
    <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:about' %}">About Us</a>
    </li>
    <li class="nav-item {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:contact' %}">Contact Us</a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <div class="dropdown">
                <a class="dropdown-toggle nav-link" href="" data-toggle="dropdown">
                        {{ user.first_name|default:'user'|title }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="background-color:transparent">
                        <li>
                            <a href="{% url 'auth:edit' %}">
                                profile
                            </a>
                        </li>
                        <li>
                            <a href="{#% url 'orders:index' %#}">
                                orders
                            </a>
                        </li>
                    </ul>
<!--            <a class="nav-link" href="{% url 'auth:edit' %}">-->
<!--                {{ user.first_name|default:'user'|title }}-->
<!--            </a>-->
            </div>
        </li>
    {% endif %}
    {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my_admin:index' %}">
                Admin
            </a>
        </li>
    {% endif %}
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'auth:logout' %}">
            Logout
        </a>
        {% else %}
        <a class="nav-link" href="{% url 'auth:login' %}">
            Login
        </a>
    </li>
    {% endif %}
</ul>
<a href="{% url 'basket:index' %}" class="basket">
    <span>
        {% if basket %}
         ${{ basket.0.total_cost|floatformat:2 }} ({{ basket.0.total_quantity }} pcs)
        {% endif %}
    </span>
</a>