{% if basket %}
<div class="row basket-list">
{% for item in basket %}
  <div class="col">
      <div class="product-item">
          <span>{{ item.product.name }}</span>
          <div class="product_name">({{ item.product.category.name }})</div>
          <img src="/media/{{ item.product.image }}" alt="">
          <div class="down-content">


              <h4>price $&nbsp{{ item.product.price }}</h4>
              <input type="number" name="{{ item.pk }}" min="0" max="{{ item.product.quantity }}"
                     value="{{ item.quantity }}">
              <h4>$&nbsp{{ item.product_cost }} total</h4>

              <a href="{% url 'basket:remove' item.pk %}" class="btn btn-outline-danger">
                  delete
              </a>
          </div>
      </div>
  </div>
{% endfor %}
</div>
    {{ basket.0.total_quantity }} items for
    ${{ basket.0.total_cost }}
    in cart

{% else %}
    <h4>
        The cart is empty
    </h4>
{% endif %}

<a class="btn btn-outline-info" href="{% url 'main:index' %}">
    Back To Main
</a>